scikit-learn==1.2.0
missingno==0.5.1 
yellowbrick==1.5 
statsmodels==0.13.5 
upsetplot==0.8.0 
ipympl==0.9.2 
ydata_profiling==4.0.0
pyjanitor 
matplotlib==3.4.1
numpy==1.22.4
pandas==1.4.4
pandas-flavor 
seaborn==0.11.1
session-info==1.0.0
ipywidgets 
ozon3 
pyreadr 
nhanes==0.5.1 
fancyimpute
scipy==1.6.3
session-info 
plotly==5.11.0
imblearn==0.0
imbalanced_learn==0.10.1
ipython==8.10.0
joblib==1.2.0
tqdm==4.60.0
jinja2==3.0.0
catboost==1.1.1
lightgbm==3.3.5